// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.label {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}